@page
@model Typing.Pages.EnterNameModel
@{ }

<div class="registercontent">
    <h1>Enter Username Below:</h1>

    <form id="nameForm" method="post" name="nameForm">
        <hr />
        <div class="text-danger"></div>
        <div class="form-group">
            <label for="Name">Username</label>
            <input id="UserName" name="UserName" class="form-control" value="" placeholder="Username..." />
            <span for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Start Game!</button>
        </div>
    </form>
</div>

<!-- Victoria Added CSS, 11/17 evening -->
<style>
    body {
        background-image: url('../images/LoginPageBackground.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }

    header {
        background: white;
        opacity: 0.5;
    }

    footer {
        background: black;
        opacity: .3;
    }

    /* Specific to page */
    .registercontent {
        /* center on page */
        margin: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        /* other adjustments */
        padding: 30px;
        background-color: rgba(255, 255, 255, .90);
        border-radius: 25px;
    }
</style>
