@page
@model Typing.Pages.GameModel
@{
}
    <div id="gameScreen">        
        <div class="left" id="p1">
            <h2 id="currentUser">@UserStatus.currentUser</h2>
            <div id="start" style="z-index:100">
                <button id="startBtn" class="myButton">Start</button>
            </div>
            <div class="wordBox1 1" style="top:70px"><p id="1"></p></div>
            <div class="wordBox1 2" style="top:150px"><p id="2"></p></div>
            <div class="wordBox1 3" style="top:230px"><p id="3"></p></div>
            <div class="wordBox1 4" style="top:310px"><p id="4"></p></div>
            <div class="wordBox1 5" style="top:390px"><p id="5"></p></div>
            <form id="user1" autocomplete="off">
                <input type="text" name="user1" id="tb1" value="" />
            </form>
        </div>
        <div class="right" id="p2">
            <h2 id="opponent"></h2>
            <div id="wait">
                <h3 id="waiting">Waiting on opponent...</h3>
            </div>
            <div class="wordBox 1" style="top:70px"><p id="6"></p></div>
            <div class="wordBox 2" style="top:150px"><p id="7"></p></div>
            <div class="wordBox 3" style="top:230px"><p id="8"></p></div>
            <div class="wordBox 4" style="top:310px"><p id="9"></p></div>
            <div class="wordBox 5" style="top:390px"><p id="10"></p></div>
            <form id="user2" autocomplete="off">
                <input type="text" name="user2" id="tb2" value="" />
            </form>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/chat.js"></script>*@

<script>
    var arr = ["BASEBALL", "RACECAR", "CACTUS", "SAMURAI", "CAT", "WORD", "BUG", "DINOSAUR", "COMPUTER", "TYPING",
        "BASKETBALL", "MOUSE", "BENCH", "GRAPES", "SOCKS", "RIVER", "ZOO", "DRUM", "LIZARD", "BASKETBALL",
        "CHEESE", "PURSE", "WATER", "EYE", "COMB", "ROCK", "LEMON", "CAMERA", "JELLYFISH", "ORANGE",
        "SWING", "NOSE", "DRAGON", "BUTTERFLY", "FORK", "MOUTH", "HEAD", "MILK", "ARM", "PERSON",
        "KING", "GIRL", "WORM", "RABBIT", "BRAD", "PETERSON", "BRACELET", "BALLOON", "OWL", "BIRD",
        "FLY", "FALCON", "BLUE", "GRASS", "SNOWFLAKE", "JAIL", "MOUNTAIN", "TRUCK", "FALL", "HALLOWEEN",
        "START", "RACE", "TABLE", "IMAGE", "BREAD", "SLIDE", "BRIDGE", "COAT", "SHIRT", "BEAR",
        "ANGEL", "SEA", "CLOUD", "WINDOW", "LIPS", "PILLOW", "RAINBOW", "TORNADO", "AIRPLANE", "POLICE",
        "KEY", "HAMBURGER", "BONE", "MONSTER", "BOW", "ALLIGATOR", "EGG", "ANT", "WHALE", "TURTLE",
        "SWIM", "APPLE", "CARROT", "BOOK", "COIN", "CUPCAKE", "PENCIL", "BOAT", "FINGER", "DOOR"
    ];
</script>


<script>
    var numPlayers = 0;

    "use strict";
    var p2count = 5;
    var connection = new signalR.HubConnectionBuilder().withUrl("/messageHub").build();
    var msg;

    connection.on("ReceiveMessage", function (username, input) {
        msg = input;
        if (msg == "ready") {
            numPlayers++;
            $('#waiting').html('Player Ready!')
        } else {
            $('#opponent').html(username);
            var substring = msg;
            var $div = $('#gameScreen'),
                $half = $('#p2'),
                docWidth = $div.width(),
                halfW = $half.width()

            $('.wordBox').each(function () {
                var string = $(this).text();
                if (string == substring) {
                    $('#tb1').val('');
                    $(this).text(arr[p2count]);
                    p2count++;
                    $(this).stop(true).css({
                        "position": "absolute",
                        "left": (docWidth - halfW) - 50 + "px",
                        "text-align": "right"
                    });
                    if (p2count < 10) {
                        $(this).animate({ left: (docWidth - 100) + 'px' }, 20000);
                    } else if (p2count < 20) {
                        $(this).animate({ left: (docWidth - 100) + 'px' }, 17000);
                    } else if (p2count < 30) {
                        $(this).animate({ left: (docWidth - 100) + 'px' }, 15000);
                    } else {
                        $(this).animate({ left: (docWidth - 100) + 'px' }, 13000);
                    }
                }
                else if (string.startsWith(substring)) {
                    $(this).html(
                        '<b>' + string.substr(0, substring.length) + '</b>' + string.substr(substring.length)
                    )
                } else {
                    $(this).css({
                        "font-weight": "normal",
                        "font-size": "16px"
                    });
                }
            });
        }
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.string());
    });

    $('#tb1').keyup(function () {
        var username = '@UserStatus.currentUser';
        var input = $('#tb1').val().toUpperCase();
        connection.invoke("SendInput", username, input).catch(function (err) {
            return console.error(err.toString());
        });
    });

    $('#start').click(function () {
        numPlayers++;
        $('#start').hide();
        var username = '@UserStatus.currentUser';
        var input = 'ready';
        connection.invoke("SendInput", username, input).catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>

<script>

    var p1count = 5;
    

//on click populate p's with words
    $('#p1').click(function () {
        var x = 0;
        $("p").each(function () {
            $(this).text(arr[x]);
            x++;
            if (x >= 5) {
                x = 0;
            }
        });
    });

    //Register listener for Num Players

//PLAYER 1 SIDE USING ANIMATE
    $('#p1').click(function () {

        var $div = $('#p1'),
            docWidth = $div.width(),
            num = 0;
            

        $('#user1').css({
            'left': (docWidth / 2) - 100 + 'px',
            'visibility': 'visible'
        });

        $('#user2').css({
            'left': ((docWidth / 2) + docWidth) - 100 + 'px',
            'visibility': 'visible'
        });

        var color = setInterval(function () {
            num++;
            $.each($('#p1'), function (i, left) {
                $('div', left).each(function () {
                    if (num == 1) {
                        $(this).css({
                            'color': 'orange'
                        });
                    } else if (num == 2) {
                        $(this).css({
                            'color': 'red'
                        });
                        clearInterval(color);
                    }
                });
            })
        }, 6666);


        $.each($('#p1'), function (i, left) {
            $('div', left).each(function () {
                $(this).css({
                    'position': 'absolute'
                });

                $(this).animate({ left: (docWidth - 100) + 'px' }, 20000);

            });
        })
    });


//PLAYER 2 SIDE USING ANIMATE
    $('#p1').click(function () {

        var $div = $('#gameScreen'),
            fullWidth = $div.width(),
            num = 0;

        var color = setInterval(function () {
            num++;
            $.each($('#p2'), function (i, left) {
                $('div', left).each(function () {
                    if (num == 1) {
                        $(this).css({
                            'color': 'orange'
                        });
                    } else if (num == 2) {
                        $(this).css({
                            'color': 'red'
                        });
                        clearInterval(color);
                    }
                });
            }) 
        }, 6666);

       
        $.each($('#p2'), function (i, left) {
            $('div', left).each(function () {
                $(this).css({
                    'position': 'absolute'

                });

                $(this).animate({ left: (fullWidth - 100) + 'px' }, 20000);

            });
        })  
    });

//When player hits a key, it compares substring to words on players screen
    $('#tb1').keyup(function () {
        var substring = $('#tb1').val().toUpperCase();
        var $div = $('#p1'),
            docWidth = $div.width()
        $('.wordBox1').each(function () {
            var string = $(this).text();
            if (string == substring) {
                $('#tb1').val('');
                $(this).text(arr[p1count]);
                p1count++;
                $(this).stop(true).css({
                    "position": "absolute",
                    "left": "-50px",
                    "text-align": "right"
                });
                if (p1count < 10) {
                    $(this).animate({ left: (docWidth - 100) + 'px' }, 20000);
                } else if (p1count < 20) {
                    $(this).animate({ left: (docWidth - 100) + 'px' }, 17000);
                } else if (p1count < 30) {
                    $(this).animate({ left: (docWidth - 100) + 'px' }, 15000);
                } else {
                    $(this).animate({ left: (docWidth - 100) + 'px' }, 13000);
                }
            }
            else if (string.startsWith(substring)) {
                $(this).html(
                    '<b>' + string.substr(0, substring.length) + '</b>' + string.substr(substring.length)
                )
            } else {
                $(this).css({
                    "font-weight": "normal",
                    "font-size": "16px"
                });
            }
        });
    });

</script>

<style>

    /* Control the left side */
    .left {
        width: 50%;
        float: left;
        background-color: whitesmoke;
        min-height: 100%;
        margin:0;
        position:absolute;
    }

    /* Control the right side */
    .right {
        width: 50%;
        float: right;
        background-color: lightgray;
        min-height: 100%;
        margin: 0;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    body {
        overflow:hidden;
        background-color: white;
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
    }

    header {
        display: block;
        width: 100%;
        height: 54px;
    }

    #gameScreen {
        border: 1px black solid;
        width: 100%;
        position: absolute;
        top: 54px;
        bottom: 60px;
        left: 0;
    }

    h2 {
        text-align: left;
    }

    .wordBox, .wordBox1{
        height: 50px;
        width: 100px;
        margin: 5px;
        color:green;
    }

    #finalMsg{
        visibility:collapse;
    }

    p{
        text-align:left;
        margin:auto;
    }

    #p1, #p2{
        
    }

    #user1, #user2{
        position: absolute;
        bottom:0px;
        visibility:hidden;
    }

    #start {
        position: absolute;
        left: 40%;
        top: 40%;
        text-align: center;
    }

    #wait {
        position: absolute;
        left: 65%;
        top: 40%;
        text-align: center;
    }

    .myButton {
        box-shadow: 0px 0px 0px 2px #9fb4f2;
        background-color: darkgray;
        border-radius: 10px;
        border: 1px solid #4e6096;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Trebuchet MS;
        font-size: 21px;
        font-weight: bold;
        padding: 15px 40px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #283966;
    }

        .myButton:hover {
            background-color: #476e9e;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

</style>