@page
@model Typing.Pages.LoginModel
@{
}

<h1>Login Here</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="text-danger"></div>
                <div class="form-group">
                    <label for="UserName">User Name</label>
                    <input id="UserName" name="UserName" class="form-control" value="" />
                    <span for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input id="Password" type="password" name="Password" class="form-control" value="" />
                    <span for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="/Register">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
 </div>
